/* Font */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* root */
:root{
    /* Primary */
    --darkcyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral */
    --verydarkblue: hsl(212, 21%, 14%);
    --darkgrayishblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    
    /* Font size */
    --paragraph : 14px;
}

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Container Principal */
.container{
    width: 550px;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
}

.sections{
    display: flex;
    justify-content: space-between;
}

/* Section image */
.image{
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    border-radius: .5rem 0 0 .5rem;
    width: 50%;
}

/* Section info */
.info{
    border-radius: 0 .5rem .5rem 0;
    background: var(--white);
    width: 50%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.title h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: .3rem;
    font-size: .6rem;
    padding: .5rem 0rem .7rem;
    color: var(--darkgrayishblue);
}
.title p{
    font-family: 'Fraunces', serif;
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding: .5rem 1.5rem .5rem 0rem;
    color: var(--verydarkblue);
}
.paragraph p{
    font-family: 'Montserrat', sans-serif;
    color: var(--darkgrayishblue);
    font-size: .82rem;
    padding: .7rem 0rem .7rem 0rem;
    line-height: 1.2rem;
}
.prices{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: .7rem 0rem .7rem 0rem;
    
}
.prices .after{
    font-family: 'Fraunces', serif;
    color: var(--darkcyan);
    font-size: 2rem;
}
.prices .before{
    color: var(--darkgrayishblue);
    text-decoration: line-through;
    font-size: .7rem;
    padding: 0rem 1rem;
}

/* Button */
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background: var(--darkcyan);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--white);
    border: none;
    padding: .8rem;
    border-radius: .4rem;
}
.add p{
    padding: 0rem 0rem 0rem .7rem;
}
.add:hover{
    background-color: hsl(157, 38%, 18%);
    cursor: pointer;
}

/* Footer */
.attribution{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--verydarkblue);
}

/* Responsive */
@media screen and (max-width: 650px){
    body{
        align-items: center;
    }
    .container{
        width: 350px;
    }
    .sections {
        display:flex;
        flex-direction: column;
    }
    .image{ 
        background-image: url(./images/image-product-mobile.jpg);
        border-radius: .5rem .5rem 0rem 0rem;
        background-size: cover;
        height: 250px;
        width: 100%;
    }
    .info{
        width: 100%;
        border-radius: 0rem 0rem .5rem .5rem;
    }
    .title h1{
        font-size: .8rem;
    }
    .title p{
        font-size: 1.9rem;
    }
    .paragraph p{
        padding: .7rem 1.8rem .7rem 0rem;
    }
    
}