/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');

:root {
    /* ColorPrimary */
    --cyan: hsl(179, 62%, 43%);
    --brightYellow: hsl(71, 73%, 54%);

    /* ColorNeutral */ 
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
    --size: 16px;

    --karla: "Karla", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--karla);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    background-color: var(--lightGray);
}

main{
    width: 350px
}
.one{
    background-color: white;
    padding: 1.5rem;
}
.one h1{
    color: var(--cyan);
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.one h2{
    color: var(--brightYellow);
    margin-bottom: 1rem;
    font-size: 1rem;
}
.one p {
    color: var(--grayishBlue);
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.sub-one{
    background-color: var(--cyan);
    color: white;
    padding: 1.5rem;
}
.sub-one h1{
    margin-bottom: 1rem;
}
.full{
    margin-bottom: 1.7rem;
}
.sub-one button {
    padding: 1rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--brightYellow);
    border-radius: .5rem;
    border: none;
    margin-bottom: .4rem;
    box-shadow: 0px 10px 10px 0px hsl(179, 62%, 39%);
    cursor: pointer;
}
.dollar {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: .7rem;
}
.dollar span{
    font-size: 1rem;
    font-weight: 400;
    color: var(--lightGray);
}
.sub-two{
    background-color: hsl(179, 62%, 48%);
    padding: 1.5rem;
    color: white;
}
.sub-two h1{
    margin-bottom: 1rem;
    
}
.sub-two ul{
    list-style: none;
    font-size: .88rem;
    line-height: 1.35rem;
    color: var(--lightGray);
}

footer{
    margin-top: 1rem;
    font-size: .82rem;
}
footer a {
    text-decoration: none;
    font-weight: 700;
}

/* Responsive */
@media screen and (min-width:628px) {
    main{
        width: 550px
    }
    .one{
        border-radius: .4rem .4rem 0rem 0rem;
    }
    .sub-two{
        border-radius: 0rem 0rem .4rem .4rem;
    }
}

@media screen and (min-width:778px) {
    main{
        width: 850px
    }
    .one{
        border-radius: .4rem .4rem 0rem 0rem;
    }
    .two{
        display: flex;
        justify-content: space-around;
    }
    .sub-one, .sub-two{
        width: 100%;
    }
    .sub-one{
        border-radius: 0rem 0rem 0rem .4rem;
    }
    .sub-two{
        border-radius: 0rem 0rem .4rem 0rem;
    }

    footer{
        font-size: 1.3rem;
    }
}